:root {
  --dark-bg: #2b4074;
  --light-bg: #ffffff;
  --mid-light-bg: #f9f6e5;
  --button-bg: #ffffff;
  --light-font: #ffffff;
  --button-dark: #2b4074;
  --button-light: #f9f6e5;
  --big-button-font-light: #f9f6e5;
  --font-dark: #2b4074;
  --small-button-font: #dadada;
  --text-font: #4a4a4a;
  --light-text-font: #797979;
  --mid-light-text-font: #9b9b9b;
  --border-color: #7ebf84;
}



.container {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  color: var(--text-font);
}

button {
  width: 200px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}

hr {
  width: 113px;
  height: 8px;
  background-color: var(--button-dark);
}

header {
  background-color: var(--dark-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  padding: 16px 61px 17px 61px;
}

header .fa-bars {
  font-size: 15px;
  line-height: 14px;
  background-color: var(--button-bg);
  color: var(--dark-bg);
  padding: 13px 13px 13px 14px;
  border-radius: 3px;
  margin-right: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.menu {
  /* height: 668px; */
  background-image: url("../images/Rectangle248.png"),
    url("../images/bg-img.jpg");
  color: var(--light-font);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.menu h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 93px;
  line-height: 95px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-stretch: ultra-condensed;
  max-width: 513px;
  /* text-align: center; */
  padding-top: 107px;
  margin-bottom: 26px;
}

.menu p {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  max-width: 800px;
  font-stretch: condensed;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.menu button.navigate {
  position: absolute;
  top: 50%;
  right: 0;
  width: 70px;
  height: 70px;
  font-size: 40px;
  border: none;
  color: var(--small-button-font);
  /* font-weight: 900; */
}

.menu button.navigate.left {
  top: 264px;
  background-color: var(--button-dark);
}

.menu button.navigate.right {
  top: 335px;
  background-color: var(--button-light);
}

.menu button.more {
  background-color: var(--button-dark);
  color: var(--big-button-font-light);
  margin-bottom: 125px;
  font-size: 16px;
  letter-spacing: 0.7px;
  padding-top: 3px;
}

.menu .dots {
  font-size: 10px;
  letter-spacing: 3px;
  margin-bottom: 79px;
}

.promo {
  /* height: 192px;  */
  background-color: var(--dark-bg);
  color: var(--light-font);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 57px 149px 57px 152px;
}

.promo h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 520;
  font-size: 24px;
  line-height: 32px;
  /* letter-spacing: 1px; */
  margin-bottom: 10px;
}

.promo p {
  font-family: "Dosis", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16.9px;
  line-height: 18px;
  max-width: 550px;
  letter-spacing: 0.007px;
}

.promo button {
  color: var(--font-dark);
  font-weight: 600;
  /* letter-spacing: 0.001px; */
  font-size: 17px;
}

.service {
  background-color: var(--light-bg);
  display: flex;
  justify-content: space-between;
  padding: 2px 0px 37px 62px;
}

.service div {
  max-width: 351px;
  padding-top: 20px;
}

.service ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  /* grid-row-gap: 10px; */
  /* grid-column-gap: 3px; */
}

.service h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  color: var(--font-dark);
  padding-top: 68px;
  margin-bottom: 72px;
  font-stretch: condensed;
  letter-spacing: 1px;
}

.service h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23.5px;
  line-height: 26px;
  letter-spacing: 0.3px;
}

.service hr {
  width: 99px;
  /* height: 8px; */
  /* padding-bottom: 8px; */
  /* background-color: var(--button-dark); */
  margin-top: 31px;
  margin-bottom: 30px;
}

.service p {
  color: var(--light-text-font);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17.9px;
  line-height: 24px;
  letter-spacing: 0.6px;
}

.service li {
  width: 229px;
  border-left: 1px solid var(--mid-light-bg);
  border-bottom: 1px solid var(--mid-light-bg);
  text-align: center;
  padding-bottom: 43px;
  padding-top: 170px;
  position: relative;
}

.service .item {
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  /* width: 230px; */
  /* height: 248px; */
  /* margin: 3px; */
  /* border-left: 1px solid var(--mid-light-bg);
  border-bottom: 1px solid var(--mid-light-bg);
  text-align: center;
  padding-bottom: 80px;
  padding-top: 170px; */
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15.6px;
  line-height: 19px;
  color: var(--text-font);
  text-transform: uppercase;
  /* outline: 1px solid black; */
  /* background-image: url("../images/SEOIcons8.png");
  
  background-repeat: no-repeat;
  background-position: top;
  background-clip: padding-box;
  border: 25px solid transparent;
  outline: 1px solid black; */
  
}

.service li:nth-child(7) .item {
  padding-bottom: 62px;
}

.service .item::before {
  content: "";
  width: 77px;
  height: 66px;
  position: absolute;
  top: 76px;
  left: 83px;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-image: url("../images/SEOIcons8.png"); */
  /* fill: red; */
}

.service li:first-child .item::before {
  background-image: url("../images/service1.png");
}

.service li:nth-child(2) .item::before {
  background-image: url("../images/service2.png");
}

.service li:nth-child(3) .item::before {
  background-image: url("../images/service3.png");
}

.service li:nth-child(4) .item::before {
  background-image: url("../images/service4.png");
}

.service li:nth-child(5) .item::before {
  background-image: url("../images/service5.png");
  /* top: 30px; */
}

.service li:nth-child(6) .item::before {
  content: url("../images/service6.png");
}

.service li:nth-child(7) .item::before {
  background-image: url("../images/service7.png");
  /* top: 15px; */
}

.service li:last-child .item::before {
  background-image: url("../images/service8.png");
}

.service li:hover {
  outline: 4px solid var(--button-dark);
  padding-top: 110px;
    padding-bottom: 103px;
}

 .service li:hover ::before{
  top: 15px; 
}

/*.service li:hover .item{
 padding-top: 95px; 
} */

.service .hidden-more {
  width: 214px;
  display: none;
  text-align: center;
  position: absolute;
  top: 145px;
}

.service .hidden-more a {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--font-dark);

  /* text-align: center; */
}

.service .hidden-more p {
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 18px;
color: var(--mid-light-text-font);
margin-bottom: 18px;
}

.service li:hover .hidden-more {
  display: block;
}

.projects {
  padding-top: 72px;
  /* background-color: var(--dark-bg); */
  /* background-image: linear-gradient(right, #FC7864, #FDA366); */
  /* background-image: linear-gradient(red, yellow); */
  background-image: linear-gradient(
    180deg,
    #2b4074 0%,
    rgba(43, 64, 116, 0) 100%
  );
  /* outline: 1px solid black; */
  padding-bottom: 69px;
  padding-right: 25px;
}

.projects h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  color: var(--light-font);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 24px;
  letter-spacing: 2.4px;
  font-stretch: condensed;
}

.projects hr {
  width: 100px;
  margin: auto;
  background-color: var(--light-font);
  margin-bottom: 78px;
}

.projects ul {
  list-style-type: none;
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: center;
  padding-right: 25px;
  /* border: 1px solid black; */
  /* align-items: flex-end; */
}

.projects li {
  /* border: 1px solid black; */
  width: 268px;
  margin-right: 19px;
  text-align: center;
  position: relative;
  
}

.projects li:first-child {
  margin-left: 59px;
  /* margin-right: 24px; */
}

.projects img {
  margin-bottom: 35px;
  border-radius: 4px;
}

.projects span {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: var(--font-dark);
  letter-spacing: 1px;
}

.projects li:hover a::before {
  content: url("../images/info-bg.png");
  width: 243px;
  height: 217px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.projects li:hover a::after {
  content: url("../images/icons.png");
  width: 70px;
  height: 32px;
  position: absolute;
  top: 110px;
  left: 100px;
  z-index: 2;
}



.team {
  padding: 56px 155px 80px 149px; /*180*/
  display: flex;
  justify-content: space-between;
}

.team div {
  max-width: 584px;
  padding-left: 10px;
}

.team img {
  border-radius: 4px;
}

.team h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 46px;
  color: var(--text-font);
  margin-bottom: 35px;
  letter-spacing: 2.8px;
  font-stretch: condensed;
}

.team hr {
  margin-bottom: 37px;
}

.team p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17.6px;
  line-height: 24px;
  color: var(--mid-light-text-font);
  margin-bottom: 37px;
  letter-spacing: 0.2px;
}

.team button {
  background-color: var(--button-dark);
  color: var(--big-button-font-light);
  width: 230px;
  height: 60px;
  margin-bottom: 80px;
  font-size: 16.8px;
}

.news {
  background-color: var(--mid-light-bg);
  padding: 52px 108px 5px 135px;
  text-align: center;
}

.news h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48.8px;
  line-height: 56px;
  color: var(--text-font);
  margin-bottom: 18px;
  text-transform: capitalize;
  letter-spacing: 0.9px;
  font-stretch: condensed;
  padding-right: 15px;
}

/* hr {
  width: 113px;
  height: 8px;
  background-color: var(--button-dark);
} */

.news hr {
  width: 102px;
  height: 6px;
  margin: auto;
  margin-bottom: 115px;
}

.news .wrapper div {
  width: 269px;
  height: min-content;
  position: relative;
}


@media only screen and (max-width: 1210px) {
  /* change grid for three columns */
  .news .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 341px 30px 30px 40px 30px 67px 30px 113px 30px;
    height: 1038px;
  } 

  .news .wrapper div:first-child {
    grid-row: 1 / 4;
  }
  
  .news .wrapper div:nth-child(2) {
    grid-row: 1 / 2;
  }
  
  .news .wrapper div:nth-child(3) {
    grid-row: 1 / 3;
  }
  
  .news .wrapper div:nth-child(4) {
    grid-row: 6 / 9;
  }
  
  .news .wrapper div:nth-child(5) {
    grid-row: 3 / 7;
  }
  
  .news .wrapper div:nth-child(6) {
    grid-row: 4 / 10;
  }
  
  .news .wrapper div:nth-child(7) {
    grid-row: 10 / 11;
  }
  
  .news .wrapper div:nth-child(8) {
    grid-row: 8 / 11;
  }

}

@media only screen and (min-width: 1211px) {
  .news .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 210px 30px 101px 30px 59px 30px 137px 30px;
    height: 790px;
  }
  
  .news .wrapper div:first-child {
    grid-row: 1 / 6;
  }
  
  .news .wrapper div:nth-child(2) {
    grid-row: 1 / 4;
  }
  
  .news .wrapper div:nth-child(3) {
    grid-row: 1 / 5;
  }
  
  .news .wrapper div:nth-child(4) {
    grid-row: 1 / 2;
  }
  
  .news .wrapper div:nth-child(5) {
    grid-row: 7 / 9;
    padding-top: 15px;
  }
  
  .news .wrapper div:nth-child(6) {
    grid-row: 5 / 9;
  }
  
  .news .wrapper div:nth-child(7) {
    grid-row: 5 / 8;
    padding-top: 43px;
  }
  
  .news .wrapper div:nth-child(8) {
    grid-row: 3 / 9;
  }

}



.news a {
  text-decoration: none;
}

.news a:hover {
  outline: 10px solid var(--dark-bg);
  outline-offset: -10px;
}

.news a:hover p {
  background-color: var(--dark-bg);
  color: var(--mid-light-bg);
  bottom: 30px
}

.news img {
  border-radius: 4px;
  
}

.news p {
  box-sizing: border-box;
  padding: 10px 20px 11px 21px;
  width: 270px;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-font);
  position: absolute;
  /* bottom: -12px; */
  /* top: 100%; */
  bottom: 0%;
  background-color: var(--light-bg);
  text-align: left;
  letter-spacing: 0.9px;
}

/* .news .wrapper div:nth-child(2) p {
  bottom: 0px;
}

.news .wrapper div:nth-child(4) p {
  bottom: 0px;
}

.news .wrapper div:nth-child(5) p {
  bottom: -43px;
}

.news .wrapper div:nth-child(6) p {
  bottom: -85px;
}

.news .wrapper div:nth-child(7) p {
  bottom: -35px;
}

.news .wrapper div:nth-child(8) p {
  bottom: -50px;
} */

.motto {
  background-color: var(--light-bg);
  text-align: center;
  padding-top: 93px;
  padding-bottom: 133px;
  box-sizing: border-box;
}

.motto .fa-quote-right {
  color: var(--font-dark);
  font-size: 32px;
  margin-bottom: 14px;
}

.motto blockquote {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 42px;
  color: var(--text-font);
  max-width: 870px;
  text-align: justify;
  margin: auto;
  margin-top: 30px;
  letter-spacing: 0.08px;
  font-stretch: condensed;
}

.motto blockquote strong {
  color: var(--font-dark);
}

.motto .author {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 28px;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 80px;
  letter-spacing: 1.1px;
}

.motto .dots {
  font-size: 10px;
  letter-spacing: 3px;
  color: var(--font-dark);
}

footer {
  background-color: var(--dark-bg);
  color: var(--light-font);
  padding: 156px 140px 96px 145px;
  position: relative;
}

footer .logo {
  position: absolute;
  top: -30px;
  left: 42%;
  padding: 0 74px;
  background-color: var(--font-dark);
}

footer p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  max-width: 650px;
  margin-bottom: 80px;
  letter-spacing: 2.2px;
}

footer a {
  text-decoration: none;
  color: var(--light-font);
}

footer ul {
  list-style-type: none;
}

footer .social {
  display: flex;
  margin-bottom: 86px;
}

footer .social li {
  box-sizing: border-box;
  width: 283px;
  height: 57px;
  text-align: center;
  padding-top: 25px;
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

footer .social li:last-child {
  border-right: none;
}

footer .fab {
  font-size: 19.5px;
  line-height: 9px;
}

footer .wrapper {
  display: flex;
}

footer .wrapper div {
  margin-right: 173px;
  font-family: 'Roboto', sans-serif;
}

footer .wrapper div:nth-child(2) {
  margin-right: 195px;
}

footer .wrapper div:nth-child(3) {
  margin-right: 122px;
}

footer .wrapper div:last-child {
  margin-right: 0px;
}

footer h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

footer .tel,
address {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  max-width: 90px;
}

footer .help,
.links {
  width: 165px;
  font-size: 12px;
  line-height: 20px;
}

footer .go-top {
  box-sizing: border-box;
  position: absolute;
  bottom: -42px;
  left: 0;
  width: 100%;
  background-color: var(--mid-light-bg);
  color: var(--text-font);
  text-align: right;
  padding-top: 7px;
  padding-bottom: 11px;
  padding-right: 147px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

footer .go-top img {
  margin-left: 7px;
}
